<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MSA/Key Signout</title>
  <link rel="stylesheet" type="text/css" href="style/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>
<body>
  <a href="/logs">Logs</a>

  <h1>MSA/Key Signout</h1>
  
  <form id="signout-form" action="/add" method="POST">
    <input type="text" id="name" name="name" placeholder="Name" maxlength="11">

    <input type="number" step="any" id="msa" name="msa" placeholder="MSA" maxlength="2">

    <input type="text" id="key" name="key" placeholder="Key" maxlength="10">

    <button id="add-signout-btn" type="submit">Enter</button>
  </form>

    <ul>
      <% signouts.forEach(signout => { %>
        <li class='<%= signout.complete == true ? 'completed' : 'not'%>'>

          <form id="checkin-form" action="/checkin/<%= signout.id %>?_method=PUT" method="POST">
            <button id="checkin-form-btn" type="submit"><i class="far fa-check-circle fa-2x"></i></button>
          </form>

          <span id="signout-name"><%- signout.name %></span> 
          <span id="signout-msa"><%- signout.msa %></span> 
          <span id="signout-key"><%- signout.key %></span> </br>
          <span id="signout-createdAt"><%- signout.createdAt %></span>
        </li>
      <% }) %>
    </ul>

</body>
</html>